*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F7F0F0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#logo{
    height: 150px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.151);
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding: 25px;
}

a{
    text-decoration: none;
    color: #484349;
}

